{% extends "base.html" %}

{% block content %}
    <!-- STUDENT -->
    {%if user.isfaculty == False%}
        <h1>Display Student Profile</h1>
        <h2>Username: {{user.username}} - {{user.id}}</h2>

        <p><b>WSU ID: </b> {{user.wsuID}}</p>
        <p><b>Name: </b> {{user.firstName}} {{user.lastName}}</p>
        <p><b>Phone #: </b> {{user.phoneNumber}}</p>
        <p><b>Email: </b> {{user.email}}</p>
        <p><b>Address: </b> {{user.address}}</p>
        
        <p><b>Tehnical Courses: </b> WIP</p>
        <p><b>Cumulative GPA: </b> WIP</p>
        <p><b>TC GPA: </b> WIP</p>
        
        <p><b>Research Fields: </b> WIP</p>

        <p><b>Programming Languages: </b> 
        {%for lang in user.knownLanguages%}
        {{lang}}
        {%endfor%}</p>

        <p><b>Experience Desc: </b> WIP</p>
        <p><b>Faculty: </b>{{user.isfaculty}}</p>

    {%else%}
    <!-- FACULTY -->
        <h1>Display Faculty Profile</h1>
        <h2>Username: {{user.username}} - {{user.id}}</h2>

        <p><b>WSU ID: </b> {{user.wsuID}}</p>
        <p><b>Name: </b> {{user.firstName}} {{user.lastName}}</p>
        <p><b>Phone #: </b> {{user.phoneNumber}}</p>
        <p><b>Email: </b> {{user.email}}</p>
        <p><b>Address: </b> {{user.address}}</p>

        <p><b>Programming Languages: </b> 
            {%for lang in user.knownLanguages%}
            {{lang}}
            {%endfor%}</p>
        
        <p><b>Research Fields: </b> WIP</p>

        <p><b>Faculty: </b>{{user.isfaculty}}</p>
    {%endif%}
    {%if user == current_user%}
        <p><a href="{{url_for('routes.edit_profile')}}">Edit your profile</a></p>
    {%endif%}

{% endblock %}