{% extends "base.html" %}

{% block content %}

<h1>Applicant Information View</h1>

<div class="postmessage">

    <p> Name: <b> {{application.name}} </b></p>
    <p> Brief Description: <b> {{application.description}} </b></p>
    <p> References: <b> {{application.reference}} </b></p>


    {% if application.status == 0 %}

    <form action="{{ url_for('routes.editStatus', application_id = application.id, statusValue = 1 )}}" method="get">
        <input type="submit" value="Approve For Interview" />
    </form>

    {% endif %}

    {% if application.status != -1 %}

    <form action="{{ url_for('routes.editStatus', application_id = application.id, statusValue = -1 )}}" method="get">
        <input type="submit" value="Reject" />
    </form>

    {% endif %}


    {% if application.status == 1 %}

    <form action="{{ url_for('routes.editStatus', application_id = application.id, statusValue = 2 )}}" method="get">
        <input type="submit" value="Hire" />
    </form>

    {% endif %}

</div>






{% endblock %}